# OpenAI API Key
OPENAI_API_KEY=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
 
 
# ID del Assistant de OpenAI
MAIN_AGENT_ID=asst_uH1XL9zLXFo4KZf4zwf4WMnU
 
# Puerto del servidor
PORT=3001
 
# Entorno
NODE_ENV=development